<footer
  class="w-full flex flex-col items-center justify-center py-4 bg-red-200 mt-8"
>
  <!-- <p class="text-black-600 text-sm">@lafloradora</p> -->
  <div class="flex items-center space-x-4 mb-2">
  <a
    href="https://www.instagram.com/lafloradora"
    rel="noopener"
    target="_blank"
    class="inline-block"
  >
    <img src="/images/instagram.svg" alt="instagram" class="w-8 h-8"/>
  </a>
  <a href="https://lafloradoratienda.etsy.com" rel="noopener" target="_blank" class="inline-block">
    <img src="/images/Etsy_Logo_0.svg" alt="etsy" class="w-8 h-8" />
  </a>
  </div>
  <p class="text-gray-800 text-sm">
    © 2025 La Floradora. Todos los derechos reservados.
  </p>
</footer>
