<header class="flex flex-col items-center gap-6">
  <img src="/images/logo.svg" alt="logo" class="w-40 h-20 md:h-28 mt-6" />
  <div class="w-full flex flex-col items-center justify-center">
    <nav class="mb-2 flex flex-wrap gap-4 md:gap-8 justify-center mx-5">
      <a
        href="/"
        class="no-underline text-gray-700 text-sm md:text-base font-medium transition-colors duration-200"
        >Inicio</a
      >
      <!-- <a href="/proyectos"
        class="no-underline text-gray-700 text-sm md:text-base font-medium transition-colors duration-200">Proyectos</a> -->
      <a
        href="/productos"
        class="no-underline text-gray-700 text-sm md:text-base font-medium transition-colors duration-200"
        >Productos</a
      >
      <a
        href="/contacto"
        class="no-underline text-gray-700 text-sm md:text-base font-medium transition-colors duration-200"
        >Contacto</a
      >
      <a
        href="/conoceme"
        class="no-underline text-gray-700 text-sm md:text-base font-medium transition-colors duration-200"
        >Conóceme</a
      >
      <a
        href="https://www.instagram.com/lafloradora"
        rel="noopener"
        target="_blank"
        class="no-underline text-gray-700 text-sm md:text-base font-medium transition-colors duration-200"
        >Instagram</a
      >
      <a href="https://www.lafloradoratienda.etsy.com" rel="noopener" target="_blank"
        class="no-underline text-gray-700 text-sm md:text-base font-medium transition-colors duration-200">Tienda Etsy</a>
    </nav>
  </div>
</header>
